@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');
body{
  background-color: black;
  color: rgb(88, 255, 205);
  font-family: 'Noto Serif KR', serif;
}
a{
  color: rgb(255, 212, 217);
}
